<div class="container">
    <div class="row" style="padding-top: 10%;">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <div class="card" style="width: 20rem;height: 200px;">
          <div class="card-body">
            <h5 class="card-title text-center">Password Recovery</h5>
            <h6 class="card-subtitle mb-4 text-muted text-center">Enter Your Email Address</h6>
            <div class="card-text text-center">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">@</span>
                    <input type="text" [(ngModel)]="userEmail" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="addon-wrapping">
                    <button type="button" class="btn btn-outline-info" (click)="sendEmail(userEmail)">Send</button>
                </div>
                <div class="alert alert-primary pt-1 pb-1 mt-3" role="alert" *ngIf="email_data?.status == true">
                  {{email_data?.message}}
                </div>
                <div class="alert alert-dark pt-1 pb-1 mt-3" role="alert" *ngIf="email_data?.status == false">
                  {{email_data?.message}}
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>