                    <div class="container">
                        <div class="row" style="padding-top: 10%;">
                          <div class="col-12 d-flex justify-content-center align-items-center">
                            <div class="card" style="width: 20rem;height: 300px;">
                              <div class="card-body">
                                <h5 class="card-title text-center">Password Recovery</h5>
                                <h6 class="card-subtitle mb-4 text-muted text-center">Update New Password</h6>
                                <div class="card-text text-center">
                                    <form name="resetPasswordForm" (submit)="resetPassword(resetPasswordForm.value)"
                                    [formGroup]="resetPasswordForm">
                                    
                                            <div class="input-group flex-nowrap mb-4">
                                                <span class="input-group-text" id="addon-wrapping">**</span>
                                                <input id="password" class="form-control" formControlName="password" name="password"
                                                        type="password" placeholder="Password" ng-minlength="6" required>
                                                <p class="text-danger error mx-5"
                                                *ngIf="resetPasswordForm.controls['password'].hasError('required') && resetPasswordForm.controls['password'].touched">
                                                    Password required
                                                </p>
                                            </div>
                                            <div class="input-group flex-nowrap mt-4">
                                                <span class="input-group-text" id="addon-wrapping">**</span>
                                                <input id="confirmPassword" class="form-control" formControlName="confirmPassword" 
                                                    name="confirmPassword" type="password" placeholder="Confirm Password"
                                                required>
                                                <p class="text-danger error mx-5"
                                                *ngIf="resetPasswordForm.controls.confirmPassword.errors?.MatchPassword">
                                                Password Not Match
                                                </p>
                                            </div>
                                            <button type="submit" class="btn btn-outline-primary mt-4">Send</button>
                                    </form>
                                          <div class="alert alert-success pt-1 pb-1 text-center mt-2" role="alert" *ngIf="reset_pwd_data?.status == true">
                                            {{reset_pwd_data?.message}}
                                          </div>
                                          <div class="alert alert-danger pt-1 pb-1 text-center mt-2" role="alert" *ngIf="reset_pwd_data?.status == false">
                                            {{reset_pwd_data?.message}}
                                          </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
