<h3 class="center">Update New Password</h3>
                    <form name="resetPasswordForm" (submit)="resetPassword(resetPasswordForm.value)"
                        [formGroup]="resetPasswordForm">
                        <div class="input-field">
                            <input id="password" formControlName="password" name="password"
                                type="password" placeholder="Password" class="validate" ng-minlength="6" required>
                            <p class="white-text margin-0px"
                                *ngIf="resetPasswordForm.controls['password'].hasError('required') && resetPasswordForm.controls['password'].touched">
                                Password required</p>
                        </div>
                        <div class="input-field">
                            <input id="confirmPassword" formControlName="confirmPassword" 
                                name="confirmPassword" type="password" class="validate" placeholder="Confirm Password"
                                required>
                            <p class="white-text margin-0px"
                                *ngIf="resetPasswordForm.controls.confirmPassword.errors?.MatchPassword">Password Not
                                Match</p>
                        </div>
                        <div class="footer text-center">
                            <button type="submit"
                                class="btn-medico medico-green">Send </button>
                            <a [routerLink]="['/login']" class="btn-medico medico-blue">Sign In</a>
                        </div>
                    </form>